<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <h3 class="mt-3">Cadastrar Loteamento</h3>
      <br>
     
      <form>
          <div class="input-group mb-3">
          
            <input type="text" class="form-control fm" placeholder="Nome" aria-describedby="inputGroup-sizing-default">
          </div>
          
          <div class="input-group mb-3">
           
            <input type="text" class="form-control fm"  placeholder="Cidade" aria-describedby="inputGroup-sizing-default">
          </div>
          
          <div class="input-group mb-3">
            <input type="text" placeholder="Área total loteamento" class="form-control">
            <input type="text" placeholder="Quantidade de lotes" class="form-control">
          </div>
          
         
    
          <div class="input-group mb-3 ">
            <select class="form-select " id="inputGroupSelect02">
              <option selected>Emprendedora-x</option>
              <option value="1">Emprendedora-1</option>
              <option value="2">Emprendedora-2</option>
              <option value="3">Emprendedora-3</option>
            </select>
           
          </div>
          <div class="mt-3">
          <button type="button" class="btn btn-secondary btn-lg ps">Cadastrar</button>
        </div>
      
      </form>
      </div>

  
</body>
</html>
